**/Dockerfile
.dockerignore

.github

/docker/devnet/kinet/ledger
/docker/devnet/kinet/bft-ledger
/docker/devnet/kinet/block-payload
/docker/devnet/kinet/triedb
/docker/devnet/kinet/wal
/docker/devnet/kinet/mempool.sock
/docker/single-node/logs
/docker/single-node/hive/logs

**/.git

**/target

**/*.data
**/*.data.old
**/*.svg
